<footer class="bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
        <div>
          <h2 class="mb-6 text-lg md:text-xl lg:text-2xl font-semibold text-white uppercase dark:text-white">
            <img src="../assets/logo footer.png" alt="Logo Footer" />
          </h2>
  
          <p class="text-white font-medium text-sm md:text-base">
            As an upscale and exclusive chauffeur and limousine service near
            Indonesia, we have been ensuring for more than 15 years that you get
            to your destination on time and safely.
          </p>
          <br />
          <div class="flex mt-4 space-x-5 md:mt-0">
            <!-- Social Media Icons -->
            <!-- Facebook -->
            <a href="#" class="text-gray-400 hover:text-gray-100 dark:hover:text-white">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                <!-- Facebook Path -->
              </svg>
              <span class="sr-only">Facebook page</span>
            </a>
  
            <!-- Twitter -->
            <a href="#" class="text-gray-400 hover:text-gray-100 dark:hover:text-white">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
                <!-- Twitter Path -->
              </svg>
              <span class="sr-only">Twitter page</span>
            </a>
  
            <!-- LinkedIn -->
            <a href="#" class="text-gray-400 hover:text-gray-100 dark:hover:text-white">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <!-- LinkedIn Path -->
              </svg>
              <span class="sr-only">LinkedIn page</span>
            </a>
  
            <!-- Instagram -->
            <a href="#" class="text-gray-400 hover:text-gray-100 dark:hover:text-white ml-4">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <!-- Instagram Path -->
              </svg>
              <span class="sr-only">Instagram page</span>
            </a>
          </div>
        </div>
        <div>
          <h2 class="mb-6 text-lg md:text-xl lg:text-2xl font-semibold text-white">Buy Vehicle</h2>
          <ul class="text-white font-light text-sm md:text-base">
            <li class="mb-4">
              <a href="#" class="hover:underline">Find new car</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Current vehicle offers</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Price lists & brochures</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-lg md:text-xl lg:text-2xl font-semibold text-white">Purchase advice</h2>
          <ul class="text-white font-light text-sm md:text-base">
            <li class="mb-4">
              <a href="#" class="hover:underline">Book a test drive</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Find a dealer near you</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Find used vehicles</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-lg md:text-xl lg:text-2xl font-semibold text-white">Customer Service</h2>
          <ul class="text-white font-light text-sm md:text-base">
            <li class="mb-4">
              <a href="#" class="hover:underline">Current service offers</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Online service campaign VIN-checker</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">5 Year staff service</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">24h roadside assistance</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">News and events</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Press release</a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="h-px my-8 bg-gray-500 border-0 dark:bg-gray-700" />
      <div class="text-white py-4">
        <div class="container mx-auto grid grid-cols-5 gap-4">
          <div class="col-span-1">Copyright © 2023 Mobiling Co.</div>
          <div class="col-span-1 flex justify-center">
            <a href="#" class="block hover:text-gray-400 text-sm">Terms</a>
          </div>
          <div class="col-span-1 flex justify-center">
            <a href="#" class="block hover:text-gray-400 text-sm">Policy</a>
          </div>
          <div class="col-span-1 flex justify-center">
            <a href="#" class="block hover:text-gray-400 text-sm">Cookies</a>
          </div>
          <div class="col-span-1 flex justify-center">
            <svg
              class="w-6 h-6 text-white dark:text-black"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 21 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6.487 1.746c0 4.192 3.592 1.66 4.592 5.754 0 .828 1 1.5 2 1.5s2-.672 2-1.5a1.5 1.5 0 0 1 1.5-1.5h1.5m-16.02.471c4.02 2.248 1.776 4.216 4.878 5.645C10.18 13.61 9 19 9 19m9.366-6h-2.287a3 3 0 0 0-3 3v2m6-8a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
              />
            </svg>
            <a href="#" class="block hover:text-gray-400 px-2">English </a>
            <svg
              class="w-5 h-5 text-white dark:text-black"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </footer>
  