<div class="mx-auto w-full max-w-screen-xl py-16">
  <section
    class="gradient-bg from-gray-300 to-black pb-12 pt-24 px-6 relative rounded-2xl overflow-hidden"
  >
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-white mb-4">
        Information on data processing
      </h2>
      <p class="text-gray-300 mb-6">
        On our website we provide content from Storystream. To view this
        content, <br />
        you must agree to the data processing by Storystream.
      </p>
      <div class="flex items-center space-x-4">
        <button
          class="bg-gray-700 hover:bg-gray-800 text-white px-4 py-2 rounded-none border-none focus:outline-none text-center inline-flex items-center"
        >
          <svg
            class="w-[13px] h-[13px] text-white mr-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 8 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.7"
              d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"
            />
          </svg>
          Agree
        </button>

        <button
          class="bg-gray-700 hover:bg-gray-800 text-white px-4 py-2 rounded-none border-none focus:outline-none text-center inline-flex items-center"
        >
          <svg
            class="w-[13px] h-[13px] text-white mr-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 8 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.7"
              d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"
            />
          </svg>
          Information on data privacy
        </button>
      </div>
      <div
        class="absolute inset-0 border-dashed border-2 border-gray-400 pointer-events-none"
        style="margin: 24px"
      ></div>
    </div>
  </section>
</div>
