<div class="mx-auto w-full max-w-screen-xl pb-16">
    <div class="grid grid-cols-1 md:grid-cols-2 mt-1 mb-1">
      <!-- Left Part -->
      <div class="p-4">
        <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold mb-2 text-gray-800">About Us</h2>
        <h3 class="text-base md:text-lg lg:text-xl text-gray-600 mb-4">
          Find out briefly but informatively
        </h3>
        <p class="text-gray-700 text-sm md:text-base">
          As an upscale and exclusive chauffeur and limousine service near
          Indonesia, we have been ensuring for more than 15 years that you get to
          your destination on time and safely. We sell in around Indonesia , as
          well as beyond to destinations throughout World. From the Indonesia to
          shuttle service, you can look forward to a professional team and comfort
          of our car service.
        </p>
      </div>
  
      <!-- Right Part -->
      <div class="p-8 grid grid-cols-2 md:items-center md:justify-center bg-gray-300 rounded-lg feature">
        <div class="p-4 text-center">
          <img class="w-9 h-9 mx-auto mb-2" src="../assets/car.png" alt="Car" />
          <p class="text-gray-700 text-xs md:text-sm">
            From buisness <br />
            to Luxuryclass
          </p>
        </div>
        <div class="p-4 text-center">
          <img
            class="w-8 h-8 mx-auto mb-2"
            src="../assets/location pin.png"
            alt="Location"
          />
          <p class="text-gray-700 text-xs md:text-sm">125 Location <br />in Indonesia</p>
        </div>
        <div class="p-4 text-center">
          <img
            class="w-8 h-8 mx-auto mb-2"
            src="../assets/Touchscreen.png"
            alt="TouchScreen"
          />
          <p class="text-gray-700 text-xs md:text-sm">Convenient <br />Online Book</p>
        </div>
        <div class="p-4 text-center">
          <img
            class="w-7 h-7 mx-auto mb-2"
            src="../assets/Vector.png"
            alt="Support"
          />
          <p class="text-gray-700 text-xs md:text-sm">24/7 Exclusive <br />On the road</p>
        </div>
      </div>
    </div>
  </div>
  