/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Lexend", sans-serif;
}
.gradient-bg {
  background: linear-gradient(to bottom, #8d98a1, #1b1d1f);
}
.hero-right-bg {
  background-color: #1a89ec12; /* Your desired blue color */
  height: 100vh; /* Cover the entire height */
  width: 40%; /* Set the width to 40% */
  position: absolute; /* Position the background */
  top: 0;
  right: 0;
  z-index: -1; /* Place it behind the content */
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}
.hero-left-bg {
  background: radial-gradient(
    circle,
    rgba(0, 136, 255, 0.149),
    rgb(255, 255, 255)
  );
  /* background:  radial-gradient(circle at 0% 50%, rgba(255, 0, 0, 0) 350px, #fff 351px); */

  /* background: radial-gradient(circle, rgb(255, 255, 255), rgb(0, 0, 0)); */
}
.feature {
  background-clip: content-box;
  /* background-clip: padding-box; */
  border-radius: 60px;
}
.horizontal-line {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 120px; /* Space for the circle */
}

.horizontal-line::before {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ccc; /* Horizontal line color */
  width: 50%;
}

.circle {
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  /* background-color: #ccc;  */
  border-radius: 50%;
  margin-left: 0px; /* Spacing between the line and the circle */
}
